<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<p>
  <mat-toolbar color="primary">
    <span style="padding: 10px;">Friend Ship</span>
    <span><a href="#" style="color: white; padding: 10px;">Matches</a></span>
    <span><a href="#" style="color: white; padding: 10px;">Friends List</a></span>

    <!-- This fills the remaining space of the current row -->
    <span style="flex: 1 1 auto;"></span>

    <form>
      <input type="text" placeholder="User Name" class="form-control" style="display: inline; width: 200px; padding: 10px; margin: 5px;" />
      <input type="password" placeholder="Password" class="form-control" style="display: inline; width: 200px; padding: 10px; margin: 5px;" />
      <button type="button" class="btn btn-default" style="display: inline; margin: 5px;">Login</button>
    </form>
  </mat-toolbar>
</p>
