<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<p>
  <mat-toolbar color="primary">
    <span style="padding: 10px;">Friend Ship</span>
    <span><a href="#" style="color: white; padding: 10px;">Matches</a></span>
    <span><a href="#" style="color: white; padding: 10px;">Friends List</a></span>

    <!-- This fills the remaining space of the current row -->
    <span style="flex: 1 1 auto;"></span>

    <h2>Friend Ship Members</h2>
    <div class="table">
      <div class="row">
        <div class="thead">
        </div>
        <div class="tbody">
        </div>
      </div>
    </div>

    </table>
  </mat-toolbar>
</p>
